::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff00;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff17;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #54555761 transparent;
}